$fjalla: 'Fjalla One', sans-serif;
$accent: rgb(244, 157, 55);
$background: rgb(31, 32, 65);

body {
    background: $background;
}

header {
    padding: 15px;
    text-transform: none;

    a {
        text-decoration: none !important;
        color: white !important;

    }
    
    i {
        position: absolute;
        left: 20px;
        top: 25px;
        font-size: 30px;
    }
}

.date {
    font-family: $fjalla;
    color: rgb(166, 167, 194);
    font-size: large;
}

.content {
    margin-top: 2em;
    margin-bottom: 2em;
}

h5 {
    font-family: $fjalla;
}

.inline-link {
    text-decoration: underline;

    &:hover {
        color: rgb(166, 167, 194);
    }
}

.half-img {
    max-width: 600px;
    border: white 4px solid;
    border-radius: 8px;
    box-shadow: 0 10px 0px 0px rgba(0, 0, 0, 0.5);
}

.half-height {
    max-height: 300px;
}