html {
    scroll-behavior: smooth;
  }

  $background: rgb(31, 32, 65);
  $accent: rgb(244, 157, 55);
  $fjalla: 'Fjalla One', sans-serif;
  
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior */
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
 
  body {
    background: $background;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
  
  ul {
    list-style-type: none;
  }

  .clickable {
    cursor: pointer; 
  }
  
  h2, h3 {
    font-family: 'Fjalla One', sans-serif;
  }

  button {
    a {
      color: white;
      text-decoration: none;

      &:hover {
        color: white;
        text-decoration: none;
      }
    }
  }
  
  /* Landing Page */
  
  .topPage {
    color: white;
    align-items: center;
    background-size: cover;
    background-color: $background;
    font-family: 'Fjalla One', sans-serif;
    font-size: large;
    display: block;
    height: 100vh;
    justify-content: center;
    text-align: center;
    z-index: 1;
  }
  
  #landing {
    width: 100%;
    height: 100%;

  }
  
  #landingText {
    position: absolute;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
      font-size: 2em;
      padding: .2em;
      line-height: 1.4em;
    }

  }

  .resume {
    position: absolute;
    top: 17px;
    right: 40px;

    a {
      text-decoration: none;

    }
  }
  
  .orange {
    color: $accent;
    font-size: 1.2em;
    margin-left: .6%;
  }

  .orange-color {
    color: $accent;
  }
  
  .large {
    font-size: 1em;
    margin-left: .9%;
  }
  
  .btn {
    color: white !important;
    background: transparent;
    box-shadow: transparent;
    text-decoration: None;
    border: white solid 2px;
    border-radius: 5px;
    padding: 12px;
    margin-top: 10px;
    font-size: medium;
    font-family: 'Fjalla One', sans-serif;
    transition: ease .4s all;
    outline: none !important;

    span {
      display: inline-block;
      position: relative;
      transition: .5s ease;

      &::after {
        content: ' >>';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: .5s ease;
      }
    }
  
    &:hover, &:active {
      border: $accent solid 2px;
      background: $accent;
      cursor: pointer;

      span {
        padding-right: 20px;
      }

      span::after {
        opacity: 1;
        right: 0;
      }
    }
  }
  
  /* Header */
  
  header {
    z-index: 10;
    width: 100%;
    top: 0;
    color: white;
    // width: 100%;
    // margin: 0;
    // height: 1.5rem;
  
    background: $background;
    padding: 4px 0;
    border-bottom: solid rgb(39,40,72) 2px;
    border-top: solid rgb(39,40,72) 2px;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    transition: .3s ease all;
  }
  
  header nav {
    font-size: 18px;

    .navbar-brand {
      // position: absolute;
      margin: 0px auto;
    }

    a {
      text-decoration: none;
      color: white !important;
      transition: .2s;

      &:hover {
        color: rgb(209, 209, 209) !important;
      }
    }
  
    ul {
      // list-style-type: none;
      margin: auto;
      // padding: 0;
  
      li {
        display: inline-block;
        padding: 0 15px;
      }

      .active {
        color: $accent !important;
      }
    }

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1.0%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    }
  }

  // .navbar-title {
  //   animation: none !important;
  //   font-size: large;
  //   display: flex;
  //   margin: auto;
  //   justify-content: center;
  //   display: none;
  // }

  // @media screen and (max-width: 768px) {

  //   .navbar-title {
  //     display: flex;
  //     margin: auto;
  //     justify-content: center;

  //   }
  //   .nav {
  //     transform-origin: top center;

  //     .navbar-title {
  //       display: block !important;
  //       font-size: 1.2em;
  //       padding-top: 0;
  //       padding-bottom: 0;
  //       margin-bottom: 0;
  //     }
  //     li {
  //       padding: .5em;
  //       display: block;
  //       &:first-child {
  //         margin-top: 1em;
  //     }
  //     }
  //   }
  //   .navbar-toggle {
  //     display: block !important;
  //   }

  //   .open {
  //     .navbar-title {
  //       padding-bottom: .6em;
  //     }
  //     animation: .25s scale ;
  //     li {
  //       animation: .25s fadeIn;
  //     }

  //   }

  //   .closed {
  //     display: none;
  //     height: 0px;
  //     // li {
  //     //   disp
  //     // }
  //     li {
  //     }
  //   }
  // }

.navbar-toggler {
  // display: none;
  position: absolute;
  top: 5px;
  right: 20px;
  // cursor: pointer; 
  // height: 2em !important;
  // width: 2.5em !important;
}
  
  
  header h1 {
    margin-bottom: 0;
    font-size: 40px;
  }
  
  /* Body */
  
  /* Software */
  
  .container {
    background: $background;
    display: flex;
    flex-flow: column;
    padding: 0px;
  }
  
  .sectionTitle {
    &::before {
      background: transparent;
      content: '.';
      font-size: 3.5em !important;
      color: transparent;
    }

    padding-left: .7em;
    padding-bottom: 2em;
  
    text-align: left;

    h1 {
      font-size: 3rem !important;
      font-family: "Fjalla One", sans-serif;
    }
  }
  
  .center {
    margin: auto;
    padding: 20px;
    max-width: 78em;
    border-bottom: rgb(39,40,72) solid 2px;
  }
  #software {
    color: white;

    h2 {
      font-family: 'Fjalla One', sans-serif;
      font-size: xx-large;
      padding: 0;
      margin: 0;
      justify-content: center;
    }

    .container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  
    .project {
    
      .lang {
        opacity: 50%;
        font-family: 'Fjalla One', sans-serif;
      }

    }
  
  }


      $breakpoint-tablet: 768px;
      @media screen and (max-width: 550px) {
        .card, .interest {
          // background: green !important;
          padding: 1em !important;
          min-width: 15em !important;
        }

        .group {
          flex-flow: column !important;

          border-top: 2px rgb(39,40,72) solid;

          svg {
            padding: .5em .5em !important;
            margin-left: .25em !important;
            margin-top: 1em !important;
          }
        }



        .center {
          padding: 40px .5em !important;
        }
        
      }

        @media screen and (max-width: 860px) {

          #skill-content {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
          }

          .long-group {
            display: flex;
            flex-flow: row wrap;
            align-items: flex-start;
            justify-content: space-between;


            .second-ul {
              margin-left: 40px;
              margin-right: 40px;
            }
          }
          #skills {
            margin-left: 0;
            margin: auto 0;
          }
          .skill-group {
            ul {
              flex-flow: column !important;

              li {
                padding: .2em 0 !important;

                &:before {
                  content: '> '
                }
              }
            }

          }

        }
        @media screen and (max-width: 486px) {

          #skill-content {
            justify-content: space-between !important;
           }

           .long-skill-group {
             width: 100%;
           }
        }

  .empty {
    max-width: 33em;
    min-width: 22em;

    flex: 1 1;
    margin: 0 .5em;
    margin-bottom: 2em;
    padding: 1.5em;

    @media screen and (max-width: 992px) {
      display: none;
    }
  }
  .card {
    background: $background;
    max-width: 33em;
    min-width: 22em;
    display: flex;
    flex-flow: column nowrap;
    font-family: 'Open Sans', sans-serif;
    flex: 1 1;
    margin: 0 .5em;
    margin-bottom: 2em;
    padding: 1.5em;
    border: rgb(39,40,72) solid 2px;
    border-radius: 10px;
    transition: .25s ease;
    text-decoration: none;
    color: white;


    &:hover {
      border: white solid 2px;
      text-decoration: none;
      color: white;
    }

    &.clickable{
      &:hover {
        box-shadow: 0 10px 10px black;
        transform: translateY(-3%);

      }
    }

    @media screen and (max-width: 550px) {
        border: rgb(39,40,72) solid 2px;

      &:hover {
        border: white solid 2px;
      }
    }

    &:active.clickable {
      box-shadow: 0 0px 0px black;
      transform: translateY(0%);
    }

    figure {
      height: 7em;
      padding: 1em 0;
      margin: 0;

      &.game {
        padding: .5em 0;
      }


      &.active {
        svg {
          animation: bounce infinite 1s cubic-bezier(0.280, 0.840, 0.420, 1);
        }
      }
    }


    .game {
      svg {
        height: 6em !important;
        width: 6em !important;
        fill: $accent;
        margin-bottom: 3em;
        padding: 0;
        margin-top: 0;
      }
    }

    h2 {
      margin-bottom: .3em !important;
    }

  }

  .frame {
    height: 5em;
    width: 3em;
    border: white solid 4px;
    border-radius: 8px;
    position: absolute;

    .notch {
      height: .25em;
      width: 1.2em;
      background: white;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
    }

    .screen {
      background: $accent;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 3px;

    }
  }

  .active {
    .screen {
      animation: openApp 4s ease infinite;
    }
  }
  @keyframes openApp {
    30% {top: 70%; border-radius: 50%; height: 10px; width: 10px; opacity: 100%;}
    40% {top: 0%; border-radius: 3px; height: 100%; width: 100%;}
    0% {top: 0%; border-radius: 3px; height: 100%; width: 100%; opacity: 100%;}
    10% {top: 70%; border-radius: 50%; height: 10px; width: 10px; opacity: 0%;}
    29% {top: 70%; border-radius: 50%; height: 10px; width: 10px; opacity: 0%;}
    // 30% {opacity: 0;}
    30% {top: 70%; border-radius: 50%; height: 10px; width: 10px; opacity: 100%;}
  }
  // @keyframes openAppold {
  //   0% {top: 70%; border-radius: 50%; height: 10px; width: 10px;}
  //   15% {top: 0%; border-radius: 3px; height: 100%; width: 100%;}
  //   70% {top: 0%; border-radius: 3px; height: 100%; width: 100%; opacity: 100%;}
  //   80% {top: 70%; border-radius: 50%; height: 10px; width: 10px; opacity: 0%;}
  //   100% {opacity: 0;}
  // }


  @keyframes bounce {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-30px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-2px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}
  
  .typewriter {
    display: inline-block;
  }
  
  .typewriter-text {
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    letter-spacing: .2px;
    white-space: nowrap;
    font-size: 1.2em;
    box-sizing: border-box;
  
    /* animation: blink .75s step-end infinite; */
  }
  
  .cursor::after {
    content: '';
    display: inline-block;
    margin-left: 3px;
    background-color: $accent;
    height: 1em;
    width: .4em;
  }

  .active .cursor::after {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
  
    49% {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  .bubbles {
    // margin: auto;
    // margin-top: 2em;
    // margin-right: 8em;
    // margin-left: 5em;
    width: 6em;
    margin-left: 1em;
    display: flex;
    transform: scale(.9);
  
    /* border: rgb(255, 255, 255) 4px solid; */
    background: $accent;
    align-items: center;
    padding: 1em;
    border-radius: 2em;
    transition: .4s ease;
  
    &::before {
      content: '.';
      width: 1em;
      height: 1em;
      color: transparent;
      background: $accent;
      position: absolute;
      text-anchor: start;
      margin-top: 2.6em;
      margin-left: -1.7em;
      border-radius: 50%;
    }
  }
  
  .bubble {
    width: 1em;
    height: 1em;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin: .25em;
    animation: none;
  }
  
  .active .bubbles {
    transform: scale(1);
  
  }
    
  .active .bubble {
    -webkit-animation: in-and-out-bubbles 1.20s infinite ease-in-out;
    animation: in-and-out-bubbles 1.20s infinite ease-in-out;
  }

  .active .bubble1 {
    -webkit-animation-delay: -0.35s;
    animation-delay: -0.35s;
  }

  .active .bubble2 {
    -webkit-animation-delay: -0.20s;
    animation-delay: -0.20s;
  }
  
  .bubble3 {
    margin-right: 0;
  }
  
  .bubble1 {
    margin-left: 0;
  }
  
  @keyframes in-and-out-bubbles {
    0%,80%,100% {
      transform: scale(0);
    }
  
    20% {
      transform: scale(1);
    }
  }
  
  @-webkit-keyframes in-and-out-bubbles {
    0%,80%,100% {
      -webkit-transform: scale(0);
    }
  
    20% {
      -webkit-transform: scale(1);
    }
  }

  #towerBuilder {
    .rect {
      width: 3em;
      height: 2.5em;
      border-radius: 7px;
      background: $accent;
      position: absolute;
      display: flex;
      flex-flow: row nowrap;

      // .window {
      //   background: white;
      //   height: 1em;
      //   width: .7em;
      //   margin: auto;
      //   margin-top: .5em;

      //   &:before {
      //     background: white;
      //     height: 1em;
      //     content: '';
      //     width: .5em;
      //     margin-top: 1em;
      //   }
      // }
    }

    #rect1 {
      margin-top: 2.5em;
    }


    #rect2 {
      // animation: 5s rect2 infinite ease;
      margin-left: 1em;
    }

    #rect3 {
      height: 5em;
      background: transparent;
      // animation: 5s rect3 infinite ease;
    }

    @keyframes rect2 { 
      0% {margin-left: 1em}
      18% {margin-left: -1em}
      35% {margin-left: 1em}
      53% {margin-left: -1em}
      70% {margin-left: 0em; border-radius: 7px;}
      75% {background: $accent}
      88% {background: white; border-bottom-left-radius: 0; border-bottom-right-radius: 0;}
      100% {background: $accent; margin-left: 0em; border-bottom-left-radius: 0; border-bottom-right-radius: 0;}
      // 58% {background: transparent; height: 2.5em}
      // 79% {background: transparent}
      // 80% {background: $accent; height: 0;}
      // 90% {height: 2.5em; margin-left: 0em;}
      // 100% {margin-left: 1em;}
    }

    @keyframes rect3 {
      49% {background: transparent}
      50% {background: white}
      57% {background: $accent}
      60% {height: 5em; margin-top: 0em}
      70% {height: 2.5em; margin-top: 2.5em;}
      80% {background: $accent;}
      90% {background: transparent; height: 2.5em; margin-top: 2.5em;}
    }

    @keyframes rect1 {
      0%, 70% {border-radius: 7px}
      75% {background: $accent}
      88% {background: white; border-top-left-radius: 0px; border-top-right-radius: 0px;}
      100% {background: $accent; border-top-left-radius: 0; border-top-right-radius: 0;}
      // 58% {background: transparent}
      // 80% {background: transparent}
      // 81% {background: $accent}
    }

  }

    .active #rect1 {
      animation: 3s rect1 infinite ease;
    }

    .active #rect2 {
      animation: 3s rect2 infinite ease;
    }

    .active #rect3 {
      // animation: 5s rect3 infinite ease;
    }
  
  /* Experience */
  
  #experience {
    // background: rgb(53, 55, 114);
    // padding: 20px;


    .exp {
      padding: 1.5em 1em;
    }

    h2 {
      padding: .2em .5em;
      padding-top: .5em;
      // font-size: xx-large;
    }

    h3 {
      font-family: $fjalla;
      font-size: x-large;
      padding-bottom: .3em;
    }

    h4 {
      font-family: $fjalla;
      color: rgb(166, 167, 194);
      font-size: medium;
      padding: .5em 0;
    }

    .secondary-header {
      font-size: large;
      color: rgb(166, 167, 194);
    }

    .icon {
      fill: $accent;
    }
    
    svg {
      fill: $accent !important;
      height: 60px !important;
      width: 60px !important;
      // padding: 1.75em;
      margin: 0 1em;
      margin-top: 1em;
      transition: .2s ease;
      overflow: visible !important;
      
      // &:hover {
      //   transform: scale(1.1);
      // }
    }

    .group {
      display: flex;
      flex-flow: row;
      justify-content: flex-start;

      .description {
        flex: 1 4;
      }
    }

  }

// Skills
.skill-group {
  font-family: $fjalla;
  padding: 1em;

  h2 {
    font-size: xx-large;

  }

  ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    justify-content: space-between;

    li {
      font-size: large;
      padding: 2em;

      @media screen and (max-width: 1000px) { 
        padding: 2em 1.75em;
      }

      &:first-child {
        padding-left: 0;
        margin-left: 0;
      }
      &:last-child {
        padding-right: 0;
        margin-right: 0;
      }
    }

    .cs {
      font-family: "Comic Sans MS", cursive, sans-serif;
      color: lime;
    }
  }
}

  // .languages {
  //   font-family: $fjalla;
  //   display: flex;
  //   flex-flow: column;

  //   h3 {
  //   }


  //   ul  {
  //     display: flex;
  //     flex-flow: row wrap;
  //     margin: auto;
  //     li {
  //       justify-content: space-between;
  //       // display: inline-block;
  //     }

  //   }
  // }

  #interests {

    .content {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
  }
    .interest {
      max-width: 33em;
      min-width: 25em;
      margin: 0 .5em;
      margin-bottom: 2em;
      padding: 1.5em;
      flex-basis: 0;
      flex-grow: 1;
      transition: .25s ease;
      border-radius: 10px;
        border: 2px rgb(39,40,72) solid;

      &:hover {
        border: 2px white solid;
        // box-shadow: 0 10px 10px black;
        // transform: translateY(-10px);
      }
      
    @media screen and (max-width: 550px) {
        border: rgb(39,40,72) solid 2px;

        &:hover {
          border: 2px white solid;
        }
    }
      .btn {
        margin-right: 1em;
        padding: .75em;
      }

      h2 {
        padding-bottom: .5em;
      }
    }
  }
  
  @font-face {
    font-family: "Comic Sans MS";
  
    src: url("./styles/cs.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

  /* Footer */
  
  footer {
    background: black;
    color: white;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    padding: 20px 0;

    .contactTitle {
      padding: 10px 0;
    }

    .links {
      font-size: xx-large;
      padding-bottom: 10px;

      a {
        padding: 5px;
        color: transparent;
      }
    }

    #privacy {
      color: white !important;
    }
    
  }
