html {
    scroll-behavior: smooth;
  }

  $background: white;
  $accent: rgb(244, 157, 55);
//   $title: 'Fjalla One', sans-serif;
//   $title: 'Inconsolata', monospace;
  $title: 'Cutive mono', monospace;
//   $title: 'Quicksand', sans-serif;
    // $title: 'Source Code Pro', monospace;
    // $title: 'DM Mono', monospace;
  $uppercase: false;
//   $uppercase: true;
  
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior */
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
 
  body {
    background: $background;
    color: black;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
  
  ul {
    list-style-type: none;
  }

  .clickable {
    cursor: pointer; 
  }

@media screen and (max-width: 700px) {
    .links {
        top: 115px !important;
        left: 0px !important;
        right: auto !important;
    }
    .topmargin {
        padding-top: 200px !important;
    }
}

header {
    position: fixed;
    top: 20px;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.658);
    color: white;

    @if $uppercase {
        text-transform: uppercase;
    }

    display: flex;
    padding: 20px;

    h1 {
        margin: auto;
        font-family: $title;
    }
}

.links {
    position: fixed;
    top: 20px;
    right: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.658);
    display: flex;
    transition: .3s ease;
    padding: 20px 15px 16px 10px;


    @if $uppercase {
        text-transform: uppercase;
    }
    .bar {
        background: white;
        height: 1.8em;
        width: .08em;
        color: transparent;
        transform: translateY(7%);
        margin: 0 5px;
    }
    a {
        padding: 0 10px;
        color: white;
        text-decoration: none;
        font-family: $title;
        transition: .3s ease;

        &:hover, &:active{
            text-decoration: none;

            color: rgba(255, 255, 255, 0.795);

            i {
                color: rgba(255, 255, 255, 0.795);
            }
        }

        font-size: 1.5em;

        i {
            transition: .3s ease;
            font-size: xx-large;
        }
    }

}

.topmargin {
    padding-top: 110px;
}


.grid-item {
    max-width: 400px; 
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
    transition: .5s ease;
    margin: 10px 0px;
    border: .5rem solid white;
    overflow: hidden;


    img {
        filter: grayscale(100%);
        transition: .5s ease;
        max-width: 400px; 
        overflow: hidden;
    }

    &:hover, &:active {
        img {
            filter:grayscale(0%);
            transform: scale(1.025);
        }
        z-index: 2;
        transform: scale(1.05);
    }
}

.grid {
    margin: auto;
}
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

@media screen and (max-width: 460px) {
    .grid-item {
        max-width: 390px;
        margin-left: 10px;
    }

}
// .grid-item--width2 { width: 400px; }