// Colors

$backgroundcolor: #FAFFFD;
$maincolor: rgb(54, 54, 54);

$linkcolor: #4265c3;
$accentcolor: #0d0f73;

$footercolor: #e8f0ed;
$footermaincolor: rgb(82, 82, 82);

// Fonts
$titlefont: 'Bitter';
$mainfont: 'Source Sans Pro';