$backgroundcolor: #FAFFFD;
$footercolor: #e8f0ed;
$maincolor: rgb(54, 54, 54);
$footermaincolor: rgb(82, 82, 82);
$linkcolor: #4265c3;
$accentcolor: #0d0f73;
$titlefont: 'Bitter';
$mainfont: 'Source Sans Pro';