@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=Source+Sans+Pro:wght@400;600&display=swap');
@import "colors";
@import "navbar";
@import "animations";

html {
    background-color: $backgroundcolor;
    color: $maincolor;
    font-family: sans-serif;
    font-family: $mainfont;
    transition: .5s ease;
    line-height: 1.4em;
    font-size: 1.05em;

    body {
        margin: 0px;
        min-height: 100vh;

        main {
            padding-top: 80px;
            box-sizing: border-box;
        }
    }

    .wrapper {
        display: flex;
        flex-flow: column;
        min-height: 100vh;
        justify-content: flex-start;
        overflow: hidden;
    }

    .container {
        max-width: 1200px;
        padding: 0px 30px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        flex-grow: 1;
        margin: auto;
    }

    h1,
    h2 {
        font-family: $titlefont;
        font-weight: 500;
    }

    footer {
        padding: 30px;
        background-color: $footercolor;
        flex-grow: 0;
        margin-top: auto;
        display: flex;
        flex-flow: row;

        .footer-items {
            margin: auto;

            .footer-text {
                display: flex;
                flex-flow: row;

                a,
                p {
                    margin: auto;
                }
            }

            .icons {
                // max-width: 250px;
                font-size: 30px;
                margin-bottom: 10px;
                display: flex;
                flex-flow: row nowrap;

                a {
                    text-decoration: none;
                    margin: 0px 7px;
                }

                .icon {
                    color: $maincolor;
                    color: $footermaincolor;

                    &:hover {
                        color: $accentcolor;
                    }
                }
            }
        }
    }

    .accent {
        color: $accentcolor;
    }

    .bold {
        font-weight: 600;
    }

    a {
        text-decoration: none;
        color: $linkcolor;
        filter: brightness(100%);
        transition: .25s ease-out;

        &:hover {
            filter: brightness(80%);
            transition: .25s ease-out;
        }
    }

    .center {
        display: flex;
        justify-content: space-evenly;
    }

    .col {
        flex-flow: column;
    }
}