---
---
@import "colors";

.sidebar {
    border-right: 2px solid $footercolor;
    margin-right: 50px;
    padding-right: 25px;
    min-width: 250px;
    max-width: 250px;
    overflow: hidden;

    .sidebar-list {
        list-style-type: none;
        padding: 0;

        .sidebar-post {
            margin-bottom: 10px;
            text-overflow: ellipsis;
            max-width: 90%;

            .sidebar-post-title {
                display: block;
                text-overflow: ellipsis;
                max-width: 100%;
                white-space: nowrap;
                overflow: hidden;
                width: fit-content;
            }

            .active {
                color: $accentcolor;
            }

            .sidebar-post-date {
                font-size: small;
            }
        }
    }

}

@media only screen and (max-width: 850px) {
    .sidebar {
        display: none;
    }

    .post-date {
        text-align: center;
    }
}


.post-container {
    display: flex;
    flex-flow: row;

    .post {
        max-width: 100%;
        h1 {
            line-height: 1.3;
        }

        .post-date {
            font-weight: bolder;
        }
        .post-image {
            max-width: 100%;
            text-align: center;
            margin-left: 0;
            margin-right: 0;
            margin: 20px 0px 20px 0px;
            
            .image-container {
                max-width: 100%;
                height: auto;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                gap: 15px;

                img {
                    max-width: 420px;
                    max-width: 100%;
                    max-height: 300px;
                }
            }
        }
    }

}