---
---

.publications {
    margin-bottom: 30px;
}

.projects {
    margin-bottom: 30px;
}

.project {
    display: flex;
    flex-flow: row;
    margin: 5px 0px;

    .project-image {
        align-items: center;
        margin: 5px;

        img {
            width: 200px;
        }
    }

    .project-text {
        padding: 15px;

        .project-title {
            margin: 0px;
            margin-bottom: 5px;
        }

        .project-authors {
            font-size: .90em;
        }

        .project-venue {
            font-size: .90em;
            font-style: italic;
            margin-bottom: 5px;
        }
    }

}

@media only screen and (max-width: 850px) {
    .project {
        flex-flow: column;

        .project-image {
            display: flex;
            flex-flow: row;

            img {
                margin: 0px auto;
                width: 250px;
            }
        }

        .project-text {
            padding: 15px 0px;
        }
    }

    h1 {
        text-align: center;
    }
}
