html {
  scroll-behavior: smooth;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  background: #1f2041;
  color: white;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

ul {
  list-style-type: none;
}

.clickable {
  cursor: pointer;
}

h2, h3 {
  font-family: 'Fjalla One', sans-serif;
}

button a {
  color: white;
  text-decoration: none;
}

button a:hover {
  color: white;
  text-decoration: none;
}

/* Landing Page */
.topPage {
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-color: #1f2041;
  font-family: 'Fjalla One', sans-serif;
  font-size: large;
  display: block;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  z-index: 1;
}

#landing {
  width: 100%;
  height: 100%;
}

#landingText {
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#landingText h1 {
  font-size: 2em;
  padding: .2em;
  line-height: 1.4em;
}

.resume {
  position: absolute;
  top: 17px;
  right: 40px;
}

.resume a {
  text-decoration: none;
}

.orange {
  color: #f49d37;
  font-size: 1.2em;
  margin-left: .6%;
}

.orange-color {
  color: #f49d37;
}

.large {
  font-size: 1em;
  margin-left: .9%;
}

.btn {
  color: white !important;
  background: transparent;
  -webkit-box-shadow: transparent;
          box-shadow: transparent;
  -webkit-text-decoration: None;
          text-decoration: None;
  border: white solid 2px;
  border-radius: 5px;
  padding: 12px;
  margin-top: 10px;
  font-size: medium;
  font-family: 'Fjalla One', sans-serif;
  -webkit-transition: ease .4s all;
  transition: ease .4s all;
  outline: none !important;
}

.btn span {
  display: inline-block;
  position: relative;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.btn span::after {
  content: ' >>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.btn:hover, .btn:active {
  border: #f49d37 solid 2px;
  background: #f49d37;
  cursor: pointer;
}

.btn:hover span, .btn:active span {
  padding-right: 20px;
}

.btn:hover span::after, .btn:active span::after {
  opacity: 1;
  right: 0;
}

/* Header */
header {
  z-index: 10;
  width: 100%;
  top: 0;
  color: white;
  background: #1f2041;
  padding: 4px 0;
  border-bottom: solid #272848 2px;
  border-top: solid #272848 2px;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

header nav {
  font-size: 18px;
}

header nav .navbar-brand {
  margin: 0px auto;
}

header nav a {
  text-decoration: none;
  color: white !important;
  -webkit-transition: .2s;
  transition: .2s;
}

header nav a:hover {
  color: #d1d1d1 !important;
}

header nav ul {
  margin: auto;
}

header nav ul li {
  display: inline-block;
  padding: 0 15px;
}

header nav ul .active {
  color: #f49d37 !important;
}

header nav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1.0%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler {
  position: absolute;
  top: 5px;
  right: 20px;
}

header h1 {
  margin-bottom: 0;
  font-size: 40px;
}

/* Body */
/* Software */
.container {
  background: #1f2041;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 0px;
}

.sectionTitle {
  padding-left: .7em;
  padding-bottom: 2em;
  text-align: left;
}

.sectionTitle::before {
  background: transparent;
  content: '.';
  font-size: 3.5em !important;
  color: transparent;
}

.sectionTitle h1 {
  font-size: 3rem !important;
  font-family: "Fjalla One", sans-serif;
}

.center {
  margin: auto;
  padding: 20px;
  max-width: 78em;
  border-bottom: #272848 solid 2px;
}

#software {
  color: white;
}

#software h2 {
  font-family: 'Fjalla One', sans-serif;
  font-size: xx-large;
  padding: 0;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#software .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#software .project .lang {
  opacity: 50%;
  font-family: 'Fjalla One', sans-serif;
}

@media screen and (max-width: 550px) {
  .card, .interest {
    padding: 1em !important;
    min-width: 15em !important;
  }
  .group {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: column !important;
            flex-flow: column !important;
    border-top: 2px #272848 solid;
  }
  .group svg {
    padding: .5em .5em !important;
    margin-left: .25em !important;
    margin-top: 1em !important;
  }
  .center {
    padding: 40px .5em !important;
  }
}

@media screen and (max-width: 860px) {
  #skill-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .long-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .long-group .second-ul {
    margin-left: 40px;
    margin-right: 40px;
  }
  #skills {
    margin-left: 0;
    margin: auto 0;
  }
  .skill-group ul {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: column !important;
            flex-flow: column !important;
  }
  .skill-group ul li {
    padding: .2em 0 !important;
  }
  .skill-group ul li:before {
    content: '> ';
  }
}

@media screen and (max-width: 486px) {
  #skill-content {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
  .long-skill-group {
    width: 100%;
  }
}

.empty {
  max-width: 33em;
  min-width: 22em;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  margin: 0 .5em;
  margin-bottom: 2em;
  padding: 1.5em;
}

@media screen and (max-width: 992px) {
  .empty {
    display: none;
  }
}

.card {
  background: #1f2041;
  max-width: 33em;
  min-width: 22em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  font-family: 'Open Sans', sans-serif;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  margin: 0 .5em;
  margin-bottom: 2em;
  padding: 1.5em;
  border: #272848 solid 2px;
  border-radius: 10px;
  -webkit-transition: .25s ease;
  transition: .25s ease;
  text-decoration: none;
  color: white;
}

.card:hover {
  border: white solid 2px;
  text-decoration: none;
  color: white;
}

.card.clickable:hover {
  -webkit-box-shadow: 0 10px 10px black;
          box-shadow: 0 10px 10px black;
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
}

@media screen and (max-width: 550px) {
  .card {
    border: #272848 solid 2px;
  }
  .card:hover {
    border: white solid 2px;
  }
}

.card:active.clickable {
  -webkit-box-shadow: 0 0px 0px black;
          box-shadow: 0 0px 0px black;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.card figure {
  height: 7em;
  padding: 1em 0;
  margin: 0;
}

.card figure.game {
  padding: .5em 0;
}

.card figure.active svg {
  -webkit-animation: bounce infinite 1s cubic-bezier(0.28, 0.84, 0.42, 1);
          animation: bounce infinite 1s cubic-bezier(0.28, 0.84, 0.42, 1);
}

.card .game svg {
  height: 6em !important;
  width: 6em !important;
  fill: #f49d37;
  margin-bottom: 3em;
  padding: 0;
  margin-top: 0;
}

.card h2 {
  margin-bottom: .3em !important;
}

.frame {
  height: 5em;
  width: 3em;
  border: white solid 4px;
  border-radius: 8px;
  position: absolute;
}

.frame .notch {
  height: .25em;
  width: 1.2em;
  background: white;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
}

.frame .screen {
  background: #f49d37;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 3px;
}

.active .screen {
  -webkit-animation: openApp 4s ease infinite;
          animation: openApp 4s ease infinite;
}

@-webkit-keyframes openApp {
  30% {
    top: 70%;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    opacity: 100%;
  }
  40% {
    top: 0%;
    border-radius: 3px;
    height: 100%;
    width: 100%;
  }
  0% {
    top: 0%;
    border-radius: 3px;
    height: 100%;
    width: 100%;
    opacity: 100%;
  }
  10% {
    top: 70%;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    opacity: 0%;
  }
  29% {
    top: 70%;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    opacity: 0%;
  }
  30% {
    top: 70%;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    opacity: 100%;
  }
}

@keyframes openApp {
  30% {
    top: 70%;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    opacity: 100%;
  }
  40% {
    top: 0%;
    border-radius: 3px;
    height: 100%;
    width: 100%;
  }
  0% {
    top: 0%;
    border-radius: 3px;
    height: 100%;
    width: 100%;
    opacity: 100%;
  }
  10% {
    top: 70%;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    opacity: 0%;
  }
  29% {
    top: 70%;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    opacity: 0%;
  }
  30% {
    top: 70%;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    opacity: 100%;
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-30px);
            transform: scale(0.9, 1.1) translateY(-30px);
  }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
            transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    -webkit-transform: scale(1, 1) translateY(-2px);
            transform: scale(1, 1) translateY(-2px);
  }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-30px);
            transform: scale(0.9, 1.1) translateY(-30px);
  }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
            transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    -webkit-transform: scale(1, 1) translateY(-2px);
            transform: scale(1, 1) translateY(-2px);
  }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
}

.typewriter {
  display: inline-block;
}

.typewriter-text {
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden;
  letter-spacing: .2px;
  white-space: nowrap;
  font-size: 1.2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* animation: blink .75s step-end infinite; */
}

.cursor::after {
  content: '';
  display: inline-block;
  margin-left: 3px;
  background-color: #f49d37;
  height: 1em;
  width: .4em;
}

.active .cursor::after {
  -webkit-animation-name: blink;
          animation-name: blink;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.bubbles {
  width: 6em;
  margin-left: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  /* border: rgb(255, 255, 255) 4px solid; */
  background: #f49d37;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  border-radius: 2em;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.bubbles::before {
  content: '.';
  width: 1em;
  height: 1em;
  color: transparent;
  background: #f49d37;
  position: absolute;
  text-anchor: start;
  margin-top: 2.6em;
  margin-left: -1.7em;
  border-radius: 50%;
}

.bubble {
  width: 1em;
  height: 1em;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin: .25em;
  -webkit-animation: none;
          animation: none;
}

.active .bubbles {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.active .bubble {
  -webkit-animation: in-and-out-bubbles 1.20s infinite ease-in-out;
  animation: in-and-out-bubbles 1.20s infinite ease-in-out;
}

.active .bubble1 {
  -webkit-animation-delay: -0.35s;
  animation-delay: -0.35s;
}

.active .bubble2 {
  -webkit-animation-delay: -0.20s;
  animation-delay: -0.20s;
}

.bubble3 {
  margin-right: 0;
}

.bubble1 {
  margin-left: 0;
}

@keyframes in-and-out-bubbles {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes in-and-out-bubbles {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  20% {
    -webkit-transform: scale(1);
  }
}

#towerBuilder .rect {
  width: 3em;
  height: 2.5em;
  border-radius: 7px;
  background: #f49d37;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

#towerBuilder #rect1 {
  margin-top: 2.5em;
}

#towerBuilder #rect2 {
  margin-left: 1em;
}

#towerBuilder #rect3 {
  height: 5em;
  background: transparent;
}

@-webkit-keyframes rect2 {
  0% {
    margin-left: 1em;
  }
  18% {
    margin-left: -1em;
  }
  35% {
    margin-left: 1em;
  }
  53% {
    margin-left: -1em;
  }
  70% {
    margin-left: 0em;
    border-radius: 7px;
  }
  75% {
    background: #f49d37;
  }
  88% {
    background: white;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  100% {
    background: #f49d37;
    margin-left: 0em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

@keyframes rect2 {
  0% {
    margin-left: 1em;
  }
  18% {
    margin-left: -1em;
  }
  35% {
    margin-left: 1em;
  }
  53% {
    margin-left: -1em;
  }
  70% {
    margin-left: 0em;
    border-radius: 7px;
  }
  75% {
    background: #f49d37;
  }
  88% {
    background: white;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  100% {
    background: #f49d37;
    margin-left: 0em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

@-webkit-keyframes rect3 {
  49% {
    background: transparent;
  }
  50% {
    background: white;
  }
  57% {
    background: #f49d37;
  }
  60% {
    height: 5em;
    margin-top: 0em;
  }
  70% {
    height: 2.5em;
    margin-top: 2.5em;
  }
  80% {
    background: #f49d37;
  }
  90% {
    background: transparent;
    height: 2.5em;
    margin-top: 2.5em;
  }
}

@keyframes rect3 {
  49% {
    background: transparent;
  }
  50% {
    background: white;
  }
  57% {
    background: #f49d37;
  }
  60% {
    height: 5em;
    margin-top: 0em;
  }
  70% {
    height: 2.5em;
    margin-top: 2.5em;
  }
  80% {
    background: #f49d37;
  }
  90% {
    background: transparent;
    height: 2.5em;
    margin-top: 2.5em;
  }
}

@-webkit-keyframes rect1 {
  0%, 70% {
    border-radius: 7px;
  }
  75% {
    background: #f49d37;
  }
  88% {
    background: white;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  100% {
    background: #f49d37;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

@keyframes rect1 {
  0%, 70% {
    border-radius: 7px;
  }
  75% {
    background: #f49d37;
  }
  88% {
    background: white;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  100% {
    background: #f49d37;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.active #rect1 {
  -webkit-animation: 3s rect1 infinite ease;
          animation: 3s rect1 infinite ease;
}

.active #rect2 {
  -webkit-animation: 3s rect2 infinite ease;
          animation: 3s rect2 infinite ease;
}

/* Experience */
#experience .exp {
  padding: 1.5em 1em;
}

#experience h2 {
  padding: .2em .5em;
  padding-top: .5em;
}

#experience h3 {
  font-family: "Fjalla One", sans-serif;
  font-size: x-large;
  padding-bottom: .3em;
}

#experience h4 {
  font-family: "Fjalla One", sans-serif;
  color: #a6a7c2;
  font-size: medium;
  padding: .5em 0;
}

#experience .secondary-header {
  font-size: large;
  color: #a6a7c2;
}

#experience .icon {
  fill: #f49d37;
}

#experience svg {
  fill: #f49d37 !important;
  height: 60px !important;
  width: 60px !important;
  margin: 0 1em;
  margin-top: 1em;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  overflow: visible !important;
}

#experience .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#experience .group .description {
  -webkit-box-flex: 1;
      -ms-flex: 1 4;
          flex: 1 4;
}

.skill-group {
  font-family: "Fjalla One", sans-serif;
  padding: 1em;
}

.skill-group h2 {
  font-size: xx-large;
}

.skill-group ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 0;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skill-group ul li {
  font-size: large;
  padding: 2em;
}

@media screen and (max-width: 1000px) {
  .skill-group ul li {
    padding: 2em 1.75em;
  }
}

.skill-group ul li:first-child {
  padding-left: 0;
  margin-left: 0;
}

.skill-group ul li:last-child {
  padding-right: 0;
  margin-right: 0;
}

.skill-group ul .cs {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: lime;
}

#interests .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#interests .interest {
  max-width: 33em;
  min-width: 25em;
  margin: 0 .5em;
  margin-bottom: 2em;
  padding: 1.5em;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: .25s ease;
  transition: .25s ease;
  border-radius: 10px;
  border: 2px #272848 solid;
}

#interests .interest:hover {
  border: 2px white solid;
}

@media screen and (max-width: 550px) {
  #interests .interest {
    border: #272848 solid 2px;
  }
  #interests .interest:hover {
    border: 2px white solid;
  }
}

#interests .interest .btn {
  margin-right: 1em;
  padding: .75em;
}

#interests .interest h2 {
  padding-bottom: .5em;
}

@font-face {
  font-family: "Comic Sans MS";
  src: url("./styles/cs.woff") format("woff");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* Footer */
footer {
  background: black;
  color: white;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  padding: 20px 0;
}

footer .contactTitle {
  padding: 10px 0;
}

footer .links {
  font-size: xx-large;
  padding-bottom: 10px;
}

footer .links a {
  padding: 5px;
  color: transparent;
}

footer #privacy {
  color: white !important;
}
/*# sourceMappingURL=main.css.map */