html {
  scroll-behavior: smooth;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  background: white;
  color: black;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

ul {
  list-style-type: none;
}

.clickable {
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .links {
    top: 115px !important;
    left: 0px !important;
    right: auto !important;
  }
  .topmargin {
    padding-top: 200px !important;
  }
}

header {
  position: fixed;
  top: 20px;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.658);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

header h1 {
  margin: auto;
  font-family: "Cutive mono", monospace;
}

.links {
  position: fixed;
  top: 20px;
  right: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.658);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  padding: 20px 15px 16px 10px;
}

.links .bar {
  background: white;
  height: 1.8em;
  width: .08em;
  color: transparent;
  -webkit-transform: translateY(7%);
          transform: translateY(7%);
  margin: 0 5px;
}

.links a {
  padding: 0 10px;
  color: white;
  text-decoration: none;
  font-family: "Cutive mono", monospace;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  font-size: 1.5em;
}

.links a:hover, .links a:active {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.795);
}

.links a:hover i, .links a:active i {
  color: rgba(255, 255, 255, 0.795);
}

.links a i {
  -webkit-transition: .3s ease;
  transition: .3s ease;
  font-size: xx-large;
}

.topmargin {
  padding-top: 110px;
}

.grid-item {
  max-width: 400px;
  -webkit-animation: fadeInAnimation ease 3s;
          animation: fadeInAnimation ease 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  margin: 10px 0px;
  border: .5rem solid white;
  overflow: hidden;
}

.grid-item img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .5s ease;
  transition: .5s ease;
  max-width: 400px;
  overflow: hidden;
}

.grid-item:hover, .grid-item:active {
  z-index: 2;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.grid-item:hover img, .grid-item:active img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.grid {
  margin: auto;
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 460px) {
  .grid-item {
    max-width: 390px;
    margin-left: 10px;
  }
}
/*# sourceMappingURL=portfolio.css.map */